/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
ion-input{
  text-align: right;
}

.no-border{
  border: none !important;
}

.no-border-shadow{
  mso-border-shadow: yes;
  border: gray !important;
}

ion-content {
    --ion-background-color: #F9F9F9;
}

ion-menu > ion-content {
    --ion-background-color: #FFFFFF;
}
/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #8C71C2;
  --ion-color-primary-rgb: 140,113,194;
  --ion-color-primary-contrast: #FFFFFF;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #7b63ab;
  --ion-color-primary-tint: #987fc8;

  --ion-color-secondary: #B2A0D6;
  --ion-color-secondary-rgb: 178,160,214;
  --ion-color-secondary-contrast: #FFFF;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #9d8dbc;
  --ion-color-secondary-tint: #baaada;

  --ion-color-tertiary: #5D4B81;
  --ion-color-tertiary-rgb: 93,75,129;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #524272;
  --ion-color-tertiary-tint: #6d5d8e;

  --ion-color-success: #06BBD6;
  --ion-color-success-rgb: 6,187,214;
  --ion-color-success-contrast: #FFFFFF;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #05a5bc;
  --ion-color-success-tint: #1fc2da;

  --ion-color-warning: #FFBC00;
  --ion-color-warning-rgb: 255,188,0;
  --ion-color-warning-contrast: #5D4B81;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0a500;
  --ion-color-warning-tint: #ffc31a;

  --ion-color-danger: #FE584C;
  --ion-color-danger-rgb: 254,88,76;
  --ion-color-danger-contrast: #FFFFFF;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e04d43;
  --ion-color-danger-tint: #fe695e;

  --ion-color-dark: #3E3256;
  --ion-color-dark-rgb: 62,50,86;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #372c4c;
  --ion-color-dark-tint: #514767;

  --ion-color-medium: #7E768E;
  --ion-color-medium-rgb: 126,118,142;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #6f687d;
  --ion-color-medium-tint: #8b8499;

  --ion-color-light: #E5DFF1;
  --ion-color-light-rgb: 229,223,241;
  --ion-color-light-contrast: #3E3256;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cac4d4;
  --ion-color-light-tint: #e8e2f2;
}

/*@media (prefers-color-scheme: dark) {*/
/*  !**/
/*   * Dark Colors*/
/*   * -------------------------------------------*/
/*   *!*/

/*  body {*/
/*    --ion-color-primary: #8C71C2;*/
/*    --ion-color-primary-rgb: 140, 113, 194;*/
/*    --ion-color-primary-contrast: #FFFFFF;*/
/*    --ion-color-primary-contrast-rgb: 0, 0, 0;*/
/*    --ion-color-primary-shade: #7b63ab;*/
/*    --ion-color-primary-tint: #987fc8;*/

/*    --ion-color-secondary: #B2A0D6;*/
/*    --ion-color-secondary-rgb: 178, 160, 214;*/
/*    --ion-color-secondary-contrast: #FFFF;*/
/*    --ion-color-secondary-contrast-rgb: 0, 0, 0;*/
/*    --ion-color-secondary-shade: #9d8dbc;*/
/*    --ion-color-secondary-tint: #baaada;*/

/*    --ion-color-tertiary: #5D4B81;*/
/*    --ion-color-tertiary-rgb: 93, 75, 129;*/
/*    --ion-color-tertiary-contrast: #ffffff;*/
/*    --ion-color-tertiary-contrast-rgb: 255, 255, 255;*/
/*    --ion-color-tertiary-shade: #524272;*/
/*    --ion-color-tertiary-tint: #6d5d8e;*/

/*    --ion-color-success: #06BBD6;*/
/*    --ion-color-success-rgb: 6, 187, 214;*/
/*    --ion-color-success-contrast: #FFFFFF;*/
/*    --ion-color-success-contrast-rgb: 0, 0, 0;*/
/*    --ion-color-success-shade: #05a5bc;*/
/*    --ion-color-success-tint: #1fc2da;*/

/*    --ion-color-warning: #FFBC00;*/
/*    --ion-color-warning-rgb: 255, 188, 0;*/
/*    --ion-color-warning-contrast: #5D4B81;*/
/*    --ion-color-warning-contrast-rgb: 0, 0, 0;*/
/*    --ion-color-warning-shade: #e0a500;*/
/*    --ion-color-warning-tint: #ffc31a;*/

/*    --ion-color-danger: #FE584C;*/
/*    --ion-color-danger-rgb: 254, 88, 76;*/
/*    --ion-color-danger-contrast: #FFFFFF;*/
/*    --ion-color-danger-contrast-rgb: 0, 0, 0;*/
/*    --ion-color-danger-shade: #e04d43;*/
/*    --ion-color-danger-tint: #fe695e;*/

/*    --ion-color-dark: #3E3256;*/
/*    --ion-color-dark-rgb: 62, 50, 86;*/
/*    --ion-color-dark-contrast: #ffffff;*/
/*    --ion-color-dark-contrast-rgb: 255, 255, 255;*/
/*    --ion-color-dark-shade: #372c4c;*/
/*    --ion-color-dark-tint: #514767;*/

/*    --ion-color-medium: #7E768E;*/
/*    --ion-color-medium-rgb: 126, 118, 142;*/
/*    --ion-color-medium-contrast: #ffffff;*/
/*    --ion-color-medium-contrast-rgb: 255, 255, 255;*/
/*    --ion-color-medium-shade: #6f687d;*/
/*    --ion-color-medium-tint: #8b8499;*/

/*    --ion-color-light: #E5DFF1;*/
/*    --ion-color-light-rgb: 229, 223, 241;*/
/*    --ion-color-light-contrast: #3E3256;*/
/*    --ion-color-light-contrast-rgb: 0, 0, 0;*/
/*    --ion-color-light-shade: #cac4d4;*/
/*    --ion-color-light-tint: #e8e2f2;*/
/*  }*/

/*  !**/
/*   * iOS Dark Theme*/
/*   * -------------------------------------------*/
/*   *!*/

/*  .ios body {*/
/*    --ion-background-color: #000000;*/
/*    --ion-background-color-rgb: 0,0,0;*/

/*    --ion-text-color: #ffffff;*/
/*    --ion-text-color-rgb: 255,255,255;*/

/*    --ion-color-step-50: #0d0d0d;*/
/*    --ion-color-step-100: #1a1a1a;*/
/*    --ion-color-step-150: #262626;*/
/*    --ion-color-step-200: #333333;*/
/*    --ion-color-step-250: #404040;*/
/*    --ion-color-step-300: #4d4d4d;*/
/*    --ion-color-step-350: #595959;*/
/*    --ion-color-step-400: #666666;*/
/*    --ion-color-step-450: #737373;*/
/*    --ion-color-step-500: #808080;*/
/*    --ion-color-step-550: #8c8c8c;*/
/*    --ion-color-step-600: #999999;*/
/*    --ion-color-step-650: #a6a6a6;*/
/*    --ion-color-step-700: #b3b3b3;*/
/*    --ion-color-step-750: #bfbfbf;*/
/*    --ion-color-step-800: #cccccc;*/
/*    --ion-color-step-850: #d9d9d9;*/
/*    --ion-color-step-900: #e6e6e6;*/
/*    --ion-color-step-950: #f2f2f2;*/

/*    --ion-toolbar-background: #0d0d0d;*/

/*    --ion-item-background: #000000;*/

/*    --ion-card-background: #1c1c1d;*/
/*  }*/


/*  !**/
/*   * Material Design Dark Theme*/
/*   * -------------------------------------------*/
/*   *!*/

/*  .md body {*/
/*    --ion-background-color: #121212;*/
/*    --ion-background-color-rgb: 18,18,18;*/

/*    --ion-text-color: #ffffff;*/
/*    --ion-text-color-rgb: 255,255,255;*/

/*    --ion-border-color: #222222;*/

/*    --ion-color-step-50: #1e1e1e;*/
/*    --ion-color-step-100: #2a2a2a;*/
/*    --ion-color-step-150: #363636;*/
/*    --ion-color-step-200: #414141;*/
/*    --ion-color-step-250: #4d4d4d;*/
/*    --ion-color-step-300: #595959;*/
/*    --ion-color-step-350: #656565;*/
/*    --ion-color-step-400: #717171;*/
/*    --ion-color-step-450: #7d7d7d;*/
/*    --ion-color-step-500: #898989;*/
/*    --ion-color-step-550: #949494;*/
/*    --ion-color-step-600: #a0a0a0;*/
/*    --ion-color-step-650: #acacac;*/
/*    --ion-color-step-700: #b8b8b8;*/
/*    --ion-color-step-750: #c4c4c4;*/
/*    --ion-color-step-800: #d0d0d0;*/
/*    --ion-color-step-850: #dbdbdb;*/
/*    --ion-color-step-900: #e7e7e7;*/
/*    --ion-color-step-950: #f3f3f3;*/

/*    --ion-item-background: #1e1e1e;*/

/*    --ion-toolbar-background: #1f1f1f;*/

/*    --ion-tab-bar-background: #1f1f1f;*/

/*    --ion-card-background: #1e1e1e;*/
/*  }*/
/*}*/
