.cont{
    height: 100%;
    width: 100%;
    text-align: center;
    display:table;
}
.txt{
    color: white;
    font-size: 50%;
    top: 50%;
    display: table-cell;
    vertical-align:middle;
}

.one{
    background-color: var(--ion-color-danger-shade);
}

.two{
    background-color: var(--ion-color-primary-shade);
}

.tree{
    background-color: var(--ion-color-success-shade);
}

.four{
    background-color: var(--ion-color-warning);
}